<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Service Center</span>
  <span class="example-spacer"></span>
  <a
    class="nav-link"
    routerLink="/login"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Login</a
  >

  <a
    class="nav-link"
    routerLink="/user-list"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Users</a
  >
</mat-toolbar>
